.mobileHeaderContainer {
  position: absolute;
  top: 30px;
}

.header {
  width: 70%;
  height: 200px;
  margin: 0 auto;
  color: red;
}

.itemsList {
  background-color: rgba(34, 37, 49);
  border-radius: 10px;
  width: 500px;
  height: 300px;
  color: white;
}
.item {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 30px;
}
.item:hover {
  opacity: 0.5;
}
.active {
  font-weight: bold;
}
